@using Elinext.TestTask.Comments.ViewModels
@model PageModel;
<script src="~/lib/jquery/dist/jquery.js"></script>
<script type="text/javascript">
	$(document).ready(function () {
		$(document).on("click", "#add_comment", function () {
			let form = $("form[name='form']");
			form.css("display", "block");
			$("#add_comment").replaceWith(form);
		});
		$(document).on("click", "input[name='send']", function () {
			let comment = $("textarea[name='comment1']").val();
			$("<p>" + comment + "<p/>".appendTo("comments"));
		});
	});
</script>
<article>
	<form method="get" asp-controller="article" asp-action="article">
		<span>@ViewBag.PageModel.article.Theme</span>
		<div>@ViewBag.PageModel.article.ArticleContent</div>
	</form>
	<form method="post" asp-controller="article" asp-action="article">
		<table>
			<tr>
				<td>Username</td>
				<td>@Html.EditorFor(model => model.comment.UserName)</td>
			</tr>
			<tr>
				<td>Write comment</td>
				<td>@Html.EditorFor(model => model.comment.CommentContent)</td>
			</tr>
			<tr>
				<td><input type="submit" value="Send" /> </td>
				<td></td>
			</tr>
		</table>
	</form>
	@foreach (var comment in @ViewBag.PageModel.comments)
	{
		<form method="get" asp-controller="article" asp-action="article">

			<div class="comments-wrapper">
				<ul class="comments-list">
					<li itemprop="comment" itemscope class="comment" id="comment-1">
						<div class="comment-content">
							<div class="comment-head">
								<div class="comment-author">
									<span itemprop="author" itemscope>@comment.UserName</span>
								</div>
								<div itemprop="dateCreated" class="comment-createdon">
									@comment.Date
								</div>
							</div>
						</div>
						<div itemprop="text" class="comment-text">
							<span>@comment.CommentContent</span>
						</div>
						<input type="submit" value="Reply" id="add_comment">
						@foreach (var replyComment in @ViewBag.PageModel.replyComments)
						{
							@if (replyComment.ParentCommentId == comment.Id)
							{
								<div class="reply-comments-wrapper">
									<ul class="reply-comments-list">
										<li itemprop="reply-comment" itemscope class="reply-comment" id="reply-comment-1">
											<div class="reply-comment-content">
												<div class="reply-comment-head">
													<div class="reply-comment-author">
														<span itemprop="author-of-reply" itemscope>@replyComment.UserName</span>
													</div>
												</div>
											</div>
											<div itemprop="text" class="reply-comment-text">
												<span>@replyComment.CommentContent</span>
											</div>
											<input type="submit" value="Reply" id="add_comment">
										</li>
									</ul>
								</div>
							}
						}
					</li>
				</ul>
			</div>
		</form>
	}
	<form name="form" id="form" asp-controller="article" asp-action="article" method="post" style="display:none">
		<table>
			<tr>
				<td>Username</td>
				<td>@Html.EditorFor(model => model.comment.UserName)</td>
			</tr>
			<tr>
				<td>@Html.TextAreaFor(model => model.comment.CommentContent)</td>
				<td><input type="submit" name="send" value="Add Comment" id="done">	</td>
			<tr>
		</table>
	</form>
</article>
