@using Elinext.TestTask.Comments.ViewModels
@model PageModel;

<article>
	<form method="get" asp-controller="article" asp-action="article">
		<span>@ViewBag.PageModel.article.Theme</span>
		<div>@ViewBag.PageModel.article.ArticleContent</div>
	</form>
	<form method="post" asp-controller="article" asp-action="article">
		<table>
			<tr>
				<td>Username</td>
				<td>@Html.EditorFor(model => model.comment.UserName)</td>
			</tr>
			<tr>
				<td>Write comment</td>
				<td>@Html.EditorFor(model => model.comment.CommentContent)</td>
			</tr>
			<tr>
				<td><input type="submit" value="Отправить" /> </td>
				<td></td>
			</tr>
		</table>
	</form>
	<form method="get" asp-controller="article" asp-action="article">
			<table border="1">
				@foreach (var comment in @ViewBag.PageModel.comments)
				{
					<tr>
						<td><span>@comment.UserName</span></td>
						<td>
							@comment.CommentContent
						</td>
						<td>@comment.Date</td>
					
					</tr>
				}
			</table>
		</form>
</article>